name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  CI: true

jobs:
   test-examples:
    runs-on: ubuntu-latest
    name: "Test build of example projects"
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Setup Node.js
        uses: actions/setup-node@v6.0.0
      - name: Setup pnpm
        uses: pnpm/action-setup@v4.1.0
        with:
          version: 10.x

      - name: Test
        run: node ./build-examples.mjs
